
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-Mcj {
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .rectangle-01-T9y {
    width: 10.1rem;
    height: 4.6rem;
    position: absolute;
    left: 95.9rem;
    top: 4.7rem;
    background-color: #d8482e;
    border-radius: 1rem;
  }
  .about-BLs {
    height: 2.9rem;
    position: absolute;
    left: 97.7rem;
    top: 5.4rem;
    font-size: 2.4rem;
    font-weight: 700;
    font-family: Lato, 'Source Sans Pro';
    width: 7.2rem;
    white-space: nowrap;
    color: #ffffff;
    line-height: 1.2;
  }
  .blog-SGo {
    top: 5.4rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2;
    height: 2.9rem;
    cursor: pointer;
    position: absolute;
    left: 115rem;
    width: 4.8rem;
    color: #000000;
    font-family: Lato, 'Source Sans Pro';
    white-space: nowrap;
  }
  .contact-kYP {
    color: #000000;
    white-space: nowrap;
    position: absolute;
    top: 5.4rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2;
    font-family: Lato, 'Source Sans Pro';
    width: 8.5rem;
    height: 2.9rem;
    cursor: pointer;
    left: 129.9rem;
  }
  .home-gB9 {
    top: 5.4rem;
    font-weight: 400;
    line-height: 1.2;
    font-family: Lato, 'Source Sans Pro';
    width: 6.4rem;
    cursor: pointer;
    position: absolute;
    left: 80.4rem;
    font-size: 2.4rem;
    color: #000000;
    white-space: nowrap;
    height: 2.9rem;
  }
  .amalgamation-1DR {
    width: 26.1rem;
    top: 4.7rem;
    font-weight: 400;
    font-family: Lato, 'Source Sans Pro';
    line-height: 1.2;
    color: #000000;
    white-space: nowrap;
    height: 3.9rem;
    cursor: pointer;
    position: absolute;
    left: 10.7rem;
    font-size: 3.2rem;
  }
  .insta-to1 {
    object-fit: contain;
    vertical-align: top;
    width: 3.9037rem;
    height: 3.9036rem;
    position: absolute;
    left: 55.0487rem;
    top: 94.3482rem;
  }
  .fb-S3q {
    position: absolute;
    left: 65.0469rem;
    top: 94.3469rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.9063rem;
    height: 3.9063rem;
  }
  .pin-BGK {
    width: 4.375rem;
    height: 4.375rem;
    position: absolute;
    left: 75.1125rem;
    top: 94.1125rem;
    object-fit: contain;
    vertical-align: top;
  }
  .mail-KdR {
    width: 4.375rem;
    height: 3.4375rem;
    position: absolute;
    left: 84.8125rem;
    top: 94.5813rem;
    object-fit: contain;
    vertical-align: top;
  }
  .meet-the-visionary-photographers-behind-amalgamation-united-by-a-passion-for-visual-storytelling-they-bring-diverse-perspectives-to-each-captured-moment-explore-their-individual-brilliance-and-witness-the-seamless-fusion-of-creativity-that-defines-every-photograph-FX5 {
    text-align: center;
    font-weight: 400;
    line-height: 1.4475;
    color: #000000;
    height: 17.4rem;
    position: absolute;
    left: 22.25rem;
    top: 18.4rem;
    font-family: Klee One, 'Source Sans Pro';
    width: 99.5rem;
    font-size: 3rem;
  }
  .bansari-shah-f51 {
    width: 17rem;
    font-size: 3rem;
    font-weight: 400;
    color: #000000;
    font-family: Lato, 'Source Sans Pro';
    white-space: nowrap;
    height: 3.6rem;
    position: absolute;
    left: 18.05rem;
    top: 76.6rem;
    text-align: center;
    line-height: 1.2;
  }
  .bg-b-4sq {
    width: 41.2609rem;
    height: 41.2609rem;
    position: absolute;
    left: 5.9695rem;
    top: 38.8695rem;
    object-fit: contain;
    vertical-align: top;
  }
  .auto-group-4s86-GU7 {
    width: 27.3516rem;
    height: 27.5385rem;
    position: absolute;
    left: 12.8865rem;
    top: 45.7112rem;
    object-fit: contain;
    vertical-align: top;
  }
  .mehak-dogra-MEf {
    width: 17.9rem;
    height: 3.6rem;
    left: 63rem;
    text-align: center;
    font-weight: 400;
    font-family: Lato, 'Source Sans Pro';
    position: absolute;
    top: 77.2rem;
    font-size: 3rem;
    line-height: 1.2;
    color: #000000;
    white-space: nowrap;
  }
  .item--U4P {
    top: 45.7rem;
    width: 27.3516rem;
    height: 27.5385rem;
    position: absolute;
    left: 58.3rem;

    .auto-group-ej7c-HR9 {
      object-fit: contain;
      vertical-align: top;
      width: 27.3516rem;
      height: 27.5385rem;
      position: relative;
    }
  }
  .harshita-sharma-RnF {
    font-weight: 400;
    line-height: 1.2;
    height: 3.6rem;
    text-align: center;
    font-size: 3rem;
    top: 77.2rem;
    color: #000000;
    font-family: Lato, 'Source Sans Pro';
    white-space: nowrap;
    width: 22rem;
    position: absolute;
    left: 106.35rem;
  }
  .auto-group-5u4n-wVh {
    position: absolute;
    left: 103.7rem;
    top: 45.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 27.3516rem;
    height: 27.5385rem;
  }
}
