
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.blog-qUT {
  width: 100%;
  height: 182.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-01-PF5 {
    width: 10.1rem;
    height: 4.6rem;
    position: absolute;
    left: 112.2rem;
    top: 4.7rem;
    background-color: #d8482e;
    border-radius: 1rem;
  }
  .blog-JN3 {
    height: 2.9rem;
    position: absolute;
    line-height: 1.2;
    font-family: Lato, 'Source Sans Pro';
    width: 4.9rem;
    top: 5.4rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    left: 115rem;
  }
  .contact-ctX {
    top: 5.4rem;
    font-weight: 400;
    line-height: 1.2;
    color: #000000;
    white-space: nowrap;
    cursor: pointer;
    height: 2.9rem;
    position: absolute;
    left: 129.9rem;
    font-size: 2.4rem;
    font-family: Lato, 'Source Sans Pro';
    width: 8.5rem;
  }
  .home-veK {
    left: 80.4rem;
    top: 5.4rem;
    font-size: 2.4rem;
    font-weight: 400;
    height: 2.9rem;
    cursor: pointer;
    line-height: 1.2;
    color: #000000;
    font-family: Lato, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.4rem;
    position: absolute;
  }
  .about-1vf {
    font-weight: 400;
    height: 2.9rem;
    left: 97.7rem;
    position: absolute;
    top: 5.4rem;
    font-size: 2.4rem;
    line-height: 1.2;
    color: #030000;
    font-family: Lato, 'Source Sans Pro';
    width: 7.1rem;
    cursor: pointer;
    white-space: nowrap;
  }
  .amalgamation-i4P {
    cursor: pointer;
    position: absolute;
    left: 10.7rem;
    font-size: 3.2rem;
    line-height: 1.2;
    color: #000000;
    white-space: nowrap;
    width: 26.1rem;
    height: 3.9rem;
    top: 4.7rem;
    font-weight: 400;
    font-family: Lato, 'Source Sans Pro';
  }
  .photo-blog-01-Qxo {
    object-fit: cover;
    vertical-align: top;
    width: 64rem;
    height: 42.7rem;
    position: absolute;
    left: 80rem;
    top: 22.6rem;
  }
  .heading-01-wxj {
    color: #000000;
    position: absolute;
    font-weight: 400;
    left: 32.6rem;
    top: 26rem;
    font-size: 3rem;
    line-height: 1.2;
    font-family: Lato, 'Source Sans Pro';
    white-space: nowrap;
    width: 39.2rem;
    height: 3.6rem;
  }
  .content-01-SuV {
    top: 34rem;
    width: 67.8rem;
    left: 4.2rem;
    text-align: right;
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.4475;
    color: #000000;
    font-family: Klee One, 'Source Sans Pro';
    height: 23.4rem;
    position: absolute;
  }
  .heading-02-ZjD {
    color: #000000;
    font-family: Lato, 'Source Sans Pro';
    width: 56.8rem;
    left: 71.3rem;
    top: 75.9rem;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
    white-space: nowrap;
    height: 3.6rem;
    position: absolute;
  }
  .content-02-sE7 {
    height: 30rem;
    position: absolute;
    top: 83.7rem;
    font-size: 2.3rem;
    line-height: 1.4475;
    color: #000000;
    width: 66.2rem;
    left: 72rem;
    font-weight: 400;
    font-family: Klee One, 'Source Sans Pro';
  }
  .photo-blog-02-y2F {
    width: 64rem;
    height: 42.8rem;
    position: absolute;
    left: 1.3rem;
    top: 73.4rem;
    object-fit: cover;
    vertical-align: top;
  }
  .content-03-W2B {
    font-size: 2.3rem;
    line-height: 1.4475;
    color: #000000;
    width: 64.8rem;
    height: 30rem;
    position: absolute;
    left: 7.2rem;
    top: 135.5rem;
    text-align: right;
    font-weight: 400;
    font-family: Klee One, 'Source Sans Pro';
  }
  .heading-03-QNT {
    text-align: right;
    line-height: 1.2;
    color: #000000;
    font-family: Lato, 'Source Sans Pro';
    white-space: nowrap;
    width: 32.1rem;
    top: 127.7rem;
    left: 39.9rem;
    font-size: 3rem;
    font-weight: 400;
    height: 3.6rem;
    position: absolute;
  }
  .photo-blog-03-LG7 {
    position: absolute;
    left: 80rem;
    top: 123.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 64rem;
    height: 45.6rem;
  }
}
