
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-F8K {
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .rectangle01-MSF {
    position: absolute;
    left: 129rem;
    top: 4.7rem;
    background-color: #d8482e;
    border-radius: 1rem;
    width: 10.1rem;
    height: 4.6rem;
  }
  .contact-tBH {
    width: 8.6rem;
    position: absolute;
    top: 5.4rem;
    color: #ffffff;
    font-family: Lato, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.9rem;
    left: 129.9rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
  }
  .blog-kUP {
    width: 4.8rem;
    height: 2.9rem;
    position: absolute;
    left: 115rem;
    top: 5.4rem;
    color: #000000;
    font-family: Lato, 'Source Sans Pro';
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2;
    white-space: nowrap;
  }
  .home-UQP {
    font-family: Lato, 'Source Sans Pro';
    width: 6.4rem;
    cursor: pointer;
    top: 5.4rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2;
    height: 2.9rem;
    position: absolute;
    left: 80.4rem;
    color: #000000;
    white-space: nowrap;
  }
  .about-oBm {
    color: #000000;
    white-space: nowrap;
    width: 7.1rem;
    height: 2.9rem;
    cursor: pointer;
    position: absolute;
    font-weight: 400;
    line-height: 1.2;
    left: 97.7rem;
    top: 5.4rem;
    font-size: 2.4rem;
    font-family: Lato, 'Source Sans Pro';
  }
  .amalgamation-pMm {
    top: 4.7rem;
    white-space: nowrap;
    height: 3.9rem;
    cursor: pointer;
    position: absolute;
    font-weight: 400;
    line-height: 1.2;
    color: #000000;
    font-family: Lato, 'Source Sans Pro';
    width: 26.1rem;
    left: 10.7rem;
    font-size: 3.2rem;
  }
  .contact-bg--8tF {
    position: absolute;
    left: 72rem;
    top: 16.1rem;
    box-shadow: inset -0.77rem 0.77rem 0.77rem rgba(255, 255, 255, 0.1000000015)), inset 0.77rem -0.77rem 0.77rem rgba(149, 149, 149, 0.1000000015));
    backdrop-filter: blur(0.77rem);
    background-color: rgba(227, 124, 65, 0.5);
    width: 52.1rem;
    height: 78.4rem;
  }
  .contact-us-aVM {
    white-space: nowrap;
    left: 87.945rem;
    align-items: center;
    font-size: 3.6rem;
    line-height: 1.2;
    color: #ffffff;
    width: 18.3rem;
    position: absolute;
    display: flex;
    height: 4.4rem;
    font-weight: 400;
    font-family: Lato, 'Source Sans Pro';
    top: 18.75rem;
    justify-content: center;
  }
  .name-bg-szF {
    top: 29.7rem;
    background-color: rgba(250, 251, 252, 0.9399999976);
    border-radius: 1rem;
    width: 41.42rem;
    height: 6.27rem;
    position: absolute;
    left: 77.67rem;
  }
  .name-cS3 {
    position: absolute;
    left: 79.65rem;
    display: flex;
    line-height: 1.1725;
    height: 2.2rem;
    font-weight: 400;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    font-family: Roboto, 'Source Sans Pro';
    top: 31.78rem;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.5);
    width: 4.8rem;
  }
  .email-bg-hCb {
    left: 77.67rem;
    top: 40.72rem;
    background-color: rgba(250, 251, 252, 0.9399999976);
    border-radius: 1rem;
    width: 41.42rem;
    height: 6.27rem;
    position: absolute;
  }
  .email-q3u {
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    top: 42.8025rem;
    display: flex;
    justify-content: center;
    left: 80.1225rem;
    align-items: center;
    width: 4.5rem;
    position: absolute;
    height: 2.2rem;
    line-height: 1.1725;
  }
  .ws-bg-Wfq {
    width: 41.42rem;
    height: 20.14rem;
    position: absolute;
    left: 77.67rem;
    top: 51.74rem;
    background-color: rgba(250, 251, 252, 0.9399999976);
    border-radius: 1rem;
  }
  .write-something-ouq {
    left: 79.665rem;
    top: 53.8225rem;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    line-height: 1.1725;
    color: rgba(0, 0, 0, 0.5);
    width: 14.6rem;
    height: 2.2rem;
    position: absolute;
    display: flex;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .submit-bg-hEX {
    height: 5.32rem;
    position: absolute;
    left: 91.4rem;
    top: 74.7rem;
    background-color: rgba(255, 255, 255, 0.6499999762);
    border-radius: 1.1rem;
    width: 12.73rem;
  }
  .submit-q5q {
    font-size: 2.4rem;
    white-space: nowrap;
    height: 2.9rem;
    left: 93.97rem;
    justify-content: center;
    font-family: Lato, 'Source Sans Pro';
    position: absolute;
    font-weight: 400;
    line-height: 1.2;
    width: 7.5rem;
    color: rgba(0, 0, 0, 0.6999999881);
    top: 75.9rem;
    display: flex;
    align-items: center;
  }
  .insta-WSs {
    position: absolute;
    left: 80.1487rem;
    top: 85.7482rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.9037rem;
    height: 3.9036rem;
  }
  .fb-CqV {
    left: 90.1469rem;
    top: 85.7469rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.9063rem;
    height: 3.9063rem;
    position: absolute;
  }
  .pin-LRu {
    top: 85.5125rem;
    object-fit: contain;
    vertical-align: top;
    width: 4.375rem;
    height: 4.375rem;
    position: absolute;
    left: 100.2125rem;
  }
  .mail-V3u {
    object-fit: contain;
    vertical-align: top;
    width: 4.375rem;
    height: 3.4375rem;
    position: absolute;
    left: 109.9125rem;
    top: 85.9813rem;
  }
  .email-photo-2pX {
    position: absolute;
    left: 19.9rem;
    top: 16.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 52.2rem;
    height: 78.3rem;
  }
}
